* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
  width: 100%;
  max-height: 100vh;
  min-height: -webkit-fill-available;
}

#mainContainer {
  background-color: white;
  padding: 40px;
  position: relative;
}

.mySlides1 {
  display: none;
  transition: 0.5s ease;
}

#first {
}
.moon {
  width: 20%;
  position: relative;
  display: flex;
  right: 10%;
}

.half-moon {
  width: 50%;
  height: 35px;
  background-color: white;
  position: relative;
  z-index: 1;
}

.half-moon2 {
  width: 50%;
  height: 35px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  right: 30%;
}

.image-area {
  display: grid;
  position: relative;
}

.red-background {
  width: 100%;
  background-color: darkred;
  height: 70px;
  -ms-transform: skewY(350deg);
  transform: skewY(350deg);
  position: relative;
  bottom: 140px;
}

.image-div {
  width: 100%;
  z-index: 1;
}

.image {
  position: relative;
  width: 100%;
  display: flex;
  margin: auto;
  height: 400px;
  bottom: 50px;
  object-fit: cover;
  object-position: 60%;
  border: none;
  z-index: 1;
  margin-bottom: -90px;
}

.skyblue-background {
  position: relative;
  margin: auto;
  width: 90%;
  background-color: deepskyblue;
  height: 60px;
  -ms-transform: skewY(350deg);
  transform: skewY(350deg);
  z-index: 1;
  bottom: 85px;
}

.txt-area {
  position: relative;
  bottom: 30px;
}

.txt-area h3 {
  text-transform: capitalize;
  color: gray;
  font-family: serif;
  margin-bottom: 10px;
}

h3 a {
  color: gray;
}

.txt-area div {
  width: 80%;
  font-weight: bold;
  font-size: 25px;
  font-family: verdana;
}

.nxt {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.nxt a {
  text-decoration: none;
  color: gray;
  font-size: 15px;
  text-transform: capitalize;
}

.nxt-button {
  background-color: darkcyan;
  color: white;
  font-size: 15px;
  width: 20%;
  padding: 5px;
  text-transform: capitalize;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#second {
}

.hey {
  display: grid;
  position: relative;
  margin-top: 123px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.hey h2 {
  font-size: xx-large;
  text-transform: capitalize;
}

.hey h3 {
  text-transform: capitalize;
}

.new-account {
  display: flex;
  margin-bottom: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.new-account h5 {
  color: gray;
}

.new-account a {
  text-decoration: none;
}

.input-area {
  display: grid;
  margin-top: 10px;
}

.user-name {
  font-size: small;
  padding: 15px;
  width: 80%;
  margin: auto;
  background-color: rgba(255, 165, 0, 0.5);
  color: black;
  margin-bottom: 25px;
  border-radius: 10px;
  border: none;
}

.passcode {
  font-size: x-small;
  padding: 15px;
  width: 80%;
  margin: auto;
  background-color: whitesmoke;
  color: black;
  margin-bottom: 25px;
  border-radius: 10px;
  border: none;
}

.input-area h5 {
  color: gray;
  width: 80%;
  margin: auto;
  font-size: 15px;
}

.input-area a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

.button-div {
  width: 80%;
  margin: auto;
  margin-top: 63px;
  margin-bottom: 30px;
}

.button-div button {
  width: 100%;
  background-color: darkred;
  padding: 15px;
  color: white;
  text-transform: capitalize;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.pre {
  display: flex;
  justify-content: center;
}
.pre button {
  background-color: inherit;
  color: gray;
}

.pre button:hover {
  color: darkcyan;
}

.userTxt {
  text-align: center;
  margin: auto 5px auto 5px;
  font-weight: bold;
}

.dropbtn {
  cursor: pointer;
  background-color: inherit;
  color: blue;
  border: none;
  font-size: large;
}
.dropbtn:hover {
  color: cyan;
}

.red-background2 {
  width: 100%;
  background-color: darkred;
  height: 80px;
  -ms-transform: skewY(350deg);
  transform: skewY(350deg);
  position: relative;
  margin-top: 50px;
}

.third-image {
  width: 30%;
  height: 100px;
  margin: auto;
  background-color: darkgray;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 35%;
  border-top-right-radius: 35%;
  border-top-left-radius: 35%;
  position: relative;
  bottom: 50px;
}

.third-image img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  position: relative;
  right: 10px;
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 25%;
  top: 8px;
  z-index: 1;
}

.third-image div {
  height: 5%;
}

.third-image input {
  position: relative;
  bottom: 90px;
  font-size: xx-small;
}

.third-image .fas {
  width: 30%;
  font-size: 20px;
  height: 32px;
  padding: 5.5px;
  background-color: cadetblue;
  border-radius: 50%;
}

.fa-camera {
  position: relative;
  bottom: 90px;
  left: 95px;
  z-index: 1;
  cursor: pointer;
}

.reaction {
  margin-top: 2px;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.reaction div {
  display: grid;
}

.xter {
  padding-bottom: 8px;
  color: gray;
}

.digit {
  text-align: center;
  font-weight: bold;
}

.h3 {
  text-transform: capitalize;
  font-size: large;
  margin-top: 40px;
}

.slides-container {
  display: flex;
  width: 100%;
  height: 220px;
  margin-top: 40px;
  justify-content: space-between;
}
.small-slides1 {
  width: 45%;
  background-color: deepskyblue;
  border: none;
  border-radius: 10px;
}

.small-slides2 {
  width: 45%;
  background-color: rgba(255, 165, 0, 0.5);
  border: none;
  border-radius: 10px;
}

.mySlides2,
.mySlides3 {
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

#gallary {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.mySlides2 img {
  height: 60%;
  width: 100%;
  margin: 8px 0px;
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.span1 {
  color: blue;
  text-align: center;
}

.span1,
.span2,
.span3 {
  text-transform: capitalize;
  display: grid;
  padding: 3px 1px;
}

.span3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.span3 button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.span3 button:hover {
  color: red;
  animation-name: flash;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.mySlides3 .span1 {
  text-align: left;
}

.mySlides3 .span1 {
  text-transform: capitalize;
  padding: 10px 1px;
}

.mySlides3 .span2 {
  text-transform: capitalize;
  padding: 10px 1px;
}

.span {
  color: blue;
  text-transform: capitalize;
  text-align: center;
  position: relative;
  top: 10px;
}

.mySlides3 div {
  display: flex;
  position: relative;
  top: 20px;
}

.fab {
  width: 20%;
  height: 26px;
  font-size: 20px;
  padding: 4px;
  border-radius: 50%;
  margin: 0px 3px;
}

.fa-facebook {
  color: #3b5998;
  background: white;
}
.fa-whatsapp {
  color: white;
  background-color: green;
}
.fa-twitter {
  color: white;
  background-color: #55acee;
}
.fa-instagram {
  color: white;
  background: #e1306c;
}
.fa-youtube {
  color: white;
  background-color: #bb0000;
}
.fa-linkedin {
  color: white;
  background-color: #125688;
}

a {
  text-decoration: none;
}

.mySlides3 button {
  position: relative;
  top: 30px;
}

@media screen and (min-width: 600px) {
  body {
    background-color: black;
  padding: 25px;

  }
  #mainContainer {
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}
